.align-select {
    // display: flex;
    /* flex-direction: column; */
    /* width: 25%; */
    margin: auto;
    // justify-content: space-between;
    width: 60%;
    padding: 3rem 0 0;
}
mat-form-field {
    margin-right: 3rem;
}

